.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 64px;
    right: 0;
    background-color: #FFF;
    overflow-x: hidden;
    transition: 0.5s;
    border-top: 1px solid grey;
}

.hidden {
    transition: 0.5s;
    overflow-x: hidden;
    display: none;
}

.sidenav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px;
}

.sidenav-menu a {
    text-decoration: none;
    font-size: 100%;
    color: #78788c;
    display: block;
    transition: 0.3s;
}

.sidenav-menu a:hover {
    color: #29293E;

}

.sidenav-button {
    display: block;
    padding: 20px;
}

.sidenav-button button {
    background-color: #ed5f64;
    background-image: linear-gradient(120deg, #ed5f64 0%, #f03840 100%);
    border-radius: 6px;
    padding: 15px;
    width: 100%;
    /* height: 60px; */
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
        border-top: 1px solid grey;

    }

    .sidenav a {
        font-size: 12pt;
    }
}